body {
  background-color: #fff8f0;
}

.card {
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  height: 220px;
  object-fit: cover;
}

h2 {
  color: darkred;
  font-weight: bold;
}